*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    padding: 12px;
}

.rodapefinal{
    background-color: gray;   
    width: 100%;
    padding: 10px 10px;
    display: flex;
    text-decoration: none;

}

header img{
    width: 130px;
    
}

nav, ul{
    text-decoration: none;
    list-style: none;
    display: flex;
}

nav li a{
    color:white;
    text-decoration: none;
    font-size: 17px;
}

nav li a:hover{
    color:antiquewhite;
}

nav li{
    margin: 0 20px;
}
.logo{
    background-image: url(../images/fundodoce.png);
}

.menu{
    background-color:gray;
    height: 30px;
    
}

.rodape{
    text-decoration: none;
    margin: auto;
    color: white;
    list-style: none;
    bottom: 800px;
    right: 350px;
    left: 50px;
    top: 0;
}


.tt{
    width: 380px;
    height: 10px;
    position: absolute;
    bottom: 750px;
    right: -200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
    color: white;
}

body{
    background-image: url(../images/fundotela.png);
}

img  p{
    display: inline-block;
}

a:hover{
    color: aqua;
}


.paragrafo{
    font-size: 18px;
    text-align: justify;
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: -50px;
    right: -130px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 18px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.paragrafo2{
    font-size: 18px;
    text-align: justify;
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: -550px;
    right: -450px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 18px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.tit{
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: 850px;
    right: -350px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 40px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}


.img1{
    position: absolute;
    bottom: 350px;
    right: 350px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img2{
    position: absolute;
    bottom: -250px;
    right: 350px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.p1{
   display: flex;
   align-items: center;
   bottom: 750px;
    right: -350px;
    left: -250px;
    top: 0;
}
.p2{
    display: flex;
    align-items: center;
    bottom: 750px;
     right: -350px;
     left: -250px;
     top: 0;
 }

.p11{
    width: 380px;
    height: 10px;
    position: absolute;
    bottom: 450px;
    right: -650px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 20px;
    color: white;
}
.p22{
    width: 380px;
    height: 10px;
    position: absolute;
    bottom: -200px;
    right: -650px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 20px;
    color: white;
}


.tit2{
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: 850px;
    right: -380px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 40px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img4{
    position: absolute;
    bottom: 350px;
    right: -100px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img5{
    position: absolute;
    bottom: -400px;
    right: -1200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img6{
    position: absolute;
    bottom: -400px;
    right: 1000px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.tit3{
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: 850px;
    right: -500px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 40px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img7{
    position: absolute;
    bottom: -400px;
    right: -1200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.mapa{
    display: flex;
    position: absolute;
    bottom: 200px;
    right: -150px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.tit4{
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: -350px;
    right: -200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 40px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}
.tit5{
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: -450px;
    right: -200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 40px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.paragrafo7{
    font-size: 18px;
    text-align: justify;
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: 550px;
    right: -50px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 18px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.paragrafo8{
    font-size: 18px;
    text-align: justify;
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: 300px;
    right: -50px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 18px;
    color: white; 
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}

.img8{
    position: absolute;
    bottom: 400px;
    right: -1200px;
    left: -250px;
    top: 0;
    margin: auto;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: 35px;
}